body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background: url(../icons/bg.png) no-repeat fixed center 0;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding:40px;
    background: rgba(0,0,0,.75);
    box-sizing: border-box;
    box-shadow: 0 15px  25px rgba(0,0,0,.5);
    border-radius: 5px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: #0090fe;
}

.login-box .login-field{
    position: relative;
}

.login-box .login-field  input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .login-field  label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .login-field input:focus ~ label,
.login-box .login-field input:valid ~ label{
    top: -20px;
    left: 0;
    color: aqua;
    font-size: 12px;
}

.login-box button{
    border: none;
    outline: none;
    color: #fff;
    background: #0090fe;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login-error{
    color:#f00;
    text-align: center;
    margin-top: -15px;
}

.log-in-button{
    float: left;
}

.sign-up-button{
    float: right;
}