.text-box{
    text-align: center;
}
.image-style{
    width:50px;
    height:50px;
}
.div-box1{
    position: relative;
    top:200px;
    left: 400px;
}
.div-box2{
    float:left;
    margin:50px;
}